{% extends "_base.html" %}

{% block content %}
    <div class="hero">
    </div>
    {% include 'partials/intro.html' %}
    <div class="row white">
        <div class="col-sm-10 col-md-8 col-md-offset-1 col-sm-offset-1">
            <h3>Welcome to the Connecticut Business Registration Data Search Portal!</h3>
            <p>Built through a partnership between the <a class="sots-link" href="http://www.sots.ct.gov/sots/site/default.asp">Connecticut Secretary of the State</a> and the <a class="sots-link" href="http://ctdata.org">Connecticut Data
                Collaborative</a>, this portal allows for full-text searching and downloading of business registration
                records.
            </p>
            <p>To get started, use the form below to search for businesses by name, address, business id or
                filing number.
            </p>
        </div>
    </div>
    <div class="row light-grey">
        <div class="col-sm-10 col-sm-offset-1">
            {% include 'partials/search-form.html' %}
        </div>
    </div>
    <div class="row white">
         <div class="col-sm-10 col-lg-7 col-sm-offset-1">
            <h4>
                Use the <a class="sots-link" href="{{ url_for('advanced')}}">advanced search</a>
                to limit your results by date, business type, business status and more.
            </h4>
            <p>To learn more about the data, head over to the <a class="sots-link" href="{{ url_for('technical_details')}}">technical details</a> page.</p>
            <p>If you have feedback, suggestions, or requests, please use our <a class="sots-link"  href="{{url_for('feedback')}}">feedback</a> page.</p>
        </div>
    </div>
{% endblock %}