{% extends "_base.html" %}

{% block content %}
<!--<div class="hero">
</div>-->
{% include 'partials/intro.html' %}
<div class="row white">
    <div class="col-sm-10 col-md-8 col-md-offset-1 col-sm-offset-1">
        <img class="sots-logo" src="/static/images/sots-seal.png"/>
        <h3>Welcome to the Connecticut Business Registration Data Search Portal</h3>
        <h4>Developed through a partnership between the
            <a class="sots-link" href="https://portal.ct.gov/sots" target = "_blank">
                Connecticut Secretary of the State
            </a>
            and the <a class="sots-link" href="http://ctdata.org" target = "_blank">Connecticut Data Collaborative</a>,
            this portal allows for full-text searching, exploration and downloading of business registration records.
        </h4>

        <p style="display: inline-block; padding: 3px 4px; outline: 1px solid #ddd">
            <i class="fa fa-download"></i> To download recent business registration activity by month, see
            <a href="https://www.ctdata.org/sots-monthly-registrations" target="_blank" class="sots-link">this Google Drive folder</a>.
        </p>
    </div>
</div>
<div class="row white">
    <div class="col-sm-10 col-md-9 col-md-offset-1 col-sm-offset-1">
        <h3>
            To get started, use the form below to search for businesses by name, address, city,
            business id, filing number, principal name or agent name.
        </h3>
    </div>
</div>
<div class="row light-grey">
    <div class="col-sm-10 col-sm-offset-1">
        {% include 'partials/search-form.html' %}
    </div>
</div>
<div class="row white">
    <div class="col-sm-10 col-md-8 col-sm-offset-1">
        <h4 style="color:green">
            The data reflect business registration activity as of {{ form.end_date_nice }}.
        </h4>
    </div>
</div>
<div class="row white">
    <div class="col-sm-10 col-md-8 col-sm-offset-1">
        <h3>
            Or, use the <a class="sots-link" href="{{ url_for('advanced')}}">Advanced Search</a>
            to limit your results by date, business type, business status and more.
        </h3>
    </div>
    <div class="col-sm-10 col-lg-7 col-sm-offset-1">
        <h4>
          Business data are updated weekly.
          For the latest, official information about a given business,
          please consult the CT Secretary of the State's CONCORD
          <a class="sots-link" href="https://www.concord-sots.ct.gov/CONCORD/" target = "_blank">application</a>.
        </h4>

        <h4>
          To learn more about the data, see
            <a class="sots-link" href="{{ url_for('technical_details')}}">technical details</a> page.
        </h4>
    </div>
</div>
{% endblock %}
