{% extends "_base.html" %}

{% block content %}

{% include 'partials/intro.html' %}

<div class="col-sm-10 col-md-8 col-md-offset-1 col-sm-offset-1">
    {% with current = 'Technical Details' %}
    {% include 'partials/breadcrumbs.html'%}
    {% endwith %}
    <h2>Metadata</h2>

    <p>
      'Date Formed' is the date the entity first filed with the Office of the Secretary of
      the State and is used as the 'Start Date' within the database.
    </p>

    <p>
      Domestic (CT) entities use the terms "organization" or "formation" to signify when the business first forms. Foreign (outside CT) entities
      use the term "registration" to signify the day they registered with The Secretary of the State as doing business in the state of CT.
    </p>


    <h2>Frequently Asked Questions</h2>

    <h3>When is the database updated?</h3>
    <p>
      Data are updated weekly.
    </p>

    <h3>How does this data compare to statistics reported elsewhere?</h3>
    <p>
      The primary purpose of this portal is to enable easy lookup of business records. The complexity of how business
      activity is tracked and recorded makes certain types of searches more difficult. For example, we provide the ability
      to limit search results by date of formation. The <a class="sots-link" href="https://portal.ct.gov/sots" target = "_blank">Connecticut Secretary of the State</a> remains
      the official source for data on business activity in Connecticut.
    </p>
    
    <h3>How far back does the data go?</h3>
    <p>
      The oldest company in the database is from 1803, therefore, the search goes as far back as that year.
      However, most business dating back to that time are cemeteries and churches, so if you’re doing an
      advanced search by time, be mindful of the time period used. The more years, the more data, and it
      will take a bit longer.
    </p>
    
    <h3>What is a foreign company?</h3>
    <p>
      A foreign company is a company that is domiciled outside CT – so could be in another state in the United
      States or outside the U.S.
    </p>

    <h3>Where is the industry information?</h3>
    <p>
      In the formation filings, businesses are not required to indicate their industry (NAICS code), therefore
      industry data are not present in this database.
    </p>

    <h3>Which address is visible?</h3>
    <p>
      In the table of search results, the business address is provided if it is in the record, if not, the mailing
      address will be listed, and if no address is present in the filings, than an address will not appear in the
      table.
    </p>

    <h3>What if I need to run a more complex data query?</h3>
    <p>
      We may be able to run a custom query for you for a fee. Please contact us at
        <a class="sots-link" href="mailto:info@ctdata.org">info@ctdata.org</a>.
    </p>
    
    <h3>Can I view or download a business filing?</h3>
    <p>
      You might be able to download a business filing through CONCORD for free
      if the business submitted the filing electronically.
      Alternatively, you can request a physical copy from the SOTS for a fee.
      See <a href="https://portal.ct.gov/SOTS/Business-Services/Copies" target="_blank">Copies of Our Records</a> page for more details.
    </p>
        
    <h3>Is there an API?</h3>
    <p>
      There is no API available.
    </p>

    <h2>If you have additional questions or feedback, please send us an
        <a class="sots-link" href="mailto:info@ctdata.org">email</a>.</h2>

</div>
{% endblock %}
