<form action="{{ url_for('feedback') }}" method="post" name="feedback" class="form-inline sots-form sots-form--advanced">
    <div class="control-group">
        <fieldset>
            <h3>Help us improve the SOTS Business Search Index</h3>
            <p>Leave feedback here, or email us directly.</p>
            <p>If you need to include sensitive information, like your name, contact information or other details
            you would rather keep private, please contact us directly via <a class="sots-link" href="mailto:info@ctdata.org">email</a>.</p>

            <div class="form-group">
                {{ form.goal.label}}
                {{ form.goal(class='form-textarea')}}
            </div>
            <div class="form-group">
                {{ form.general.label}}
                {{ form.general(class='form-textarea')}}
            </div>
            <div class="form-group">
                {{ form.submitter.label}}
                <p class="label-help">
                    I am a
                    <span class="u-black-space"></span>
                    interested in <span class="u-blank-space"></span>
                </p>
                {{ form.submitter(class='form-textarea') }}
            </div>
            <!-- /.form-group -->
            <!-- /.form-group -->
            <!-- /.form-group -->
        </fieldset>
        <p>This information will be reported on <a class='sots-link' href="https://github.com/">GitHub</a> where it will be publically visible. You can review all reported feedback
            on the project GitHub <a class='sots-link' href="https://github.com/{{ owner }}/{{ repo }}/issues">page</a>.</p>
        <p class="note">*Required</p>
        <!-- /.note -->
        <span><button type='submit' class="btn btn-sots">Submit</button></span>
        {{ form.hidden_tag('csrf_token', 'user_agent') }}
    </div>
</form>