<form action="/" method="post" name="search" class="form-inline sots-form sots-form__basic">
    {{ form.hidden_tag('csrf_token', 'sort_by') }}
    <div class="control-group{% if form.query.errors %} error {% endif %}">
        <div class="form-group">
            <span>{{ form.index_field(class_='form-control') }}</span>
            <span>{{ form.query(size=30, class_='form-control', placeholder='Search for') }}</span>
            {% for error in form.query.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
            <span><button type='submit' class="btn btn-sots"><i class="fa fa-inverse fa-search"></i></button></span>
        </div>
        <!-- /.controls -->
        <!-- /.control-label -->
    </div>
    <div class="instructions">Example: Frank Pepe's, 805 Brook Street Rocky Hill, 0185038</div>
</form>