
.btn-sots {
  background-color: $dark-grey;
}

.btn-sots:hover {
  background-color: $extra-dark-grey;
  border-color: $extra-dark-grey;
}

.btn-sots {
  .fa-download {
    padding-right: .5rem;
  }
}

.btn-sots--download, .btn-sots--download:hover {
  color: $white;
}

.btn-sots--download-offcanvas {
  border-radius: 0;
  width: 95%;
}