.top-paginate {
  margin-left: 3rem;
  margin-right: 3rem;
  .paginate-info, .paginate-navigate {
    float: right;
  }
  .paginate-info {
    padding-right: .5rem;
  }
  .query-info {
    float: left;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .top-paginate--controls {
    clear: both;
    padding-bottom: .5rem;
    padding-top: .25rem;
  }
  .paginater {
    display: inline-block;
    float: right;
    padding-top: 0.5rem;
  }
  form {
    display: inline-block;
  }
}

.bottom-paginate {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 5rem;
  .paginate-info, .paginate-navigate {
    float: left;
  }
  .paginate-info {
    padding-right: .5rem;
  }
}