Flask==0.11.1
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
# git+git://github.com/zzzeek/sqlalchemy/
Werkzeug==0.11.3
psycopg2==2.7.5
gunicorn==19.9.0
itsdangerous==0.24
flask-cors==2.1.2
flask-restful==0.3.5
Flask-WTF==0.14.2
WTForms==1.0.5
pytest
pytest-cov
flask-debugtoolbar
opbeat[flask]
requests